<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Рассылка</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.3/examples/dashboard/dashboard.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Oldranger.club</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Чат</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Рассылка</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <h1 class="h2 mb-4">Рассылка</h1>

            <form id="message-form" class="col-md-6">
                <input type="hidden" name="id" id="id">
                <div class="form-group">
                    <label for="subject">Тема</label>
                    <input type="text" class="form-control" id="subject" name="subject" required>
                </div>
                <div class="form-group">
                    <label for="summernote">Сообщение</label>
                    <textarea class="form-control" id="summernote" name="message" required></textarea>
                    <small class="form-text text-muted">* сообщение будет отправлено всем пользователям</small>
                </div>
                <button type="submit" class="btn btn-primary" id="send" formaction="/api/admin/sendMail">Отправить</button>
                <button type="submit" class="btn btn-outline-primary" id="save" formaction="/api/admin/saveDraft">Сохранить в черновик</button>
                <button type="button" class="btn btn-outline-danger d-none" id="cancel">Отмена</button>
            </form>


            <h3 class="mb-4 mt-5">Черновик</h3>
            <nav id="draft-pager">
                <ul class="pagination pagination-sm"></ul>
            </nav>
            <div class="table-responsive col-md-6">
                <table class="table" id="draftTable">
                    <thead>
                    <tr>
                        <th>Тема</th>
                        <th>Последнее редактирование</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </main>
    </div>
</div>
<script src="/js/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- include summernote css/js -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/lang/summernote-ru-RU.min.js"></script>
<script src="/js/admin-mail.js"></script>
</body>
</html>