HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Upload folder ###
uploads/*
!uploads/default.png
!uploads/default-sm.png
/src/main/resources/static/css/mystyle.css.map

### Media folder ###
media/*
filesInChat/*

## Credential and Environment  depended properties
/src/main/resources/config/application.properties
/src/main/resources/config/application-dev.properties
/src/main/resources/config/application-prod.properties
/src/main/resources/config/jpa.properties
/src/main/resources/config/mail.properties
/src/main/resources/config/cache.properties
/ru.java.mentor.oldranger.club.model.forum.Comment/**
/ru.java.mentor.oldranger.club.model.forum.Topic/**

### Indices ###
/data/index/**
/data01/**
/logstash/pipeline/logs/**
