<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователмя</title>
</head>
<style>
    .wrapper {
        margin-right: auto;
        margin-left:  auto;
        max-width: 960px;
        padding-right: 10px;
        padding-left:  10px;
    }
</style>
<body>
<div style="display: flex;flex-direction: row-reverse">
    <a th:href="@{/logout}">Logout</a>
</div>
<div class="wrapper">
    <h1>Мои сообщения</h1>
    <nav style="display: flex;margin-bottom: 20px">
        <a href="#" th:href="@{/profile}" style="margin-right: 10px">Профиль</a>
        <a href="#" th:href="@{/profile/comments}" style="margin-right: 10px">Сообщения</a>
        <a href="#" th:href="@{/profile/topics}" style="margin-right: 10px">Темы</a>
        <a href="#" th:href="@{/profile/subscriptions}" style="margin-right: 10px">Подписки</a>
        <a href="#" th:href="@{/profile/invite}">Приглашения</a>
    </nav>
    <main>
        <div th:if="${pageCount != 0}" style="display: flex;margin-bottom: 20px;width: 20%;overflow-x: auto;">
            <a th:each="i : ${#numbers.sequence(0, pageCount - 1)}" th:href="@{'/profile/comments' + ''(page=${i})}"
               th:text="${i+1}" style="margin: 5px"></a>
        </div>
        <div>
            <a class="scroll" th:each="comment : ${commentList}" style="display: flex;border: 1px solid black; border-radius: 5px; padding-left: 10px;margin-bottom: 10px" href="#" th:href="@{'/topic/' + ${comment.topicId} +'?pos=' + ${comment.positionInTopic} +'#' + ${comment.positionInTopic}}">
                <div style="display: inline-block;border-right: 1px solid black;padding-right: 20px;">
                    <p th:text="${comment.nickName}"></p>
                    <section th:if="${comment.smallAvatar}">
                        <img src="#" th:src="${'/img/' + comment.smallAvatar}" alt="avatar">
                    </section>
                    <p th:text="${comment.timeSinceRegistration}"></p>
                    <p><b>Всего сообщений: </b> <span th:text="${comment.messageCount}" ></span></p>
                    <p th:text="${comment.roleName}"></p>
                </div>
                <div style="display: inline-block; vertical-align: top;padding-left: 25px">
                    <blockquote th:if="${comment.replyDateTime}">
                        <p th:text="${comment.replyDateTime}"></p>
                        <p th:text="${comment.replyNick}"></p>
                        <p th:text="${comment.replyText}"></p>
                    </blockquote>
                    <br>
                    <p th:text="${comment.commentDateTime}"></p>
                    <p th:text="${comment.commentText}"></p>
                </div>
            </a>
        </div>
    </main>
</div>

</body>

</html>