<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователмя</title>
</head>
<style>
    .wrapper {
        margin-right: auto;
        margin-left:  auto;
        max-width: 960px;
        padding-right: 10px;
        padding-left:  10px;
    }
</style>
<body>
<div style="display: flex;flex-direction: row-reverse">
    <a th:href="@{/logout}">Logout</a>
</div>
<div class="wrapper">
    <h1>Мои темы</h1>
    <nav style="display: flex;margin-bottom: 20px">
        <a href="#" th:href="@{/profile}" style="margin-right: 10px">Профиль</a>
        <a href="#" th:href="@{/profile/comments}" style="margin-right: 10px">Сообщения</a>
        <a href="#" th:href="@{/profile/topics}" style="margin-right: 10px">Темы</a>
        <a href="#" th:href="@{/profile/subscriptions}" style="margin-right: 10px">Подписки</a>
        <a href="#" th:href="@{/profile/invite}">Приглашения</a>
    </nav>
    <main>
        <div th:if="${pageCount != 0}" style="display: flex;margin-bottom: 20px">
            <a th:each="i : ${#numbers.sequence(0, pageCount - 1)}" th:href="@{'/profile/topics' + ''(page=${i})}"
               th:text="${i+1}" style="margin: 5px"></a>
        </div>
        <div>
            <a th:each="topic : ${topicList}" style="display: flex;border: 1px solid black; border-radius: 5px; padding-left: 10px;margin-bottom: 10px" href="#" th:href="@{'/topic/' + ${topic.id}}">
                <div style="width: 40%">
                    <span th:text="${topic.name}" ></span>
                </div>
                <div style="width: 60%">
                    <span>Последнее сообщение:</span>
                    <span th:text="${#temporals.format(topic.lastMessageTime, 'dd.MM.yyyy HH:mm')}"></span>
                </div>
            </a>
        </div>
    </main>
</div>

</body>

</html>