<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password recovery</title>
</head>
<body>
<th:block th:switch="${tokenstatus}">
    <p th:case="'fail_invalid'">Invalid token</p>
    <p th:case="'fail_expired'">Token expired</p>
    <th:block th:case="'ok_valid'">
        <th:block th:unless="${passwordstatus} eq 'ok_changed'">
            <form action="/passwordrecovery/setnewpassword" method="post" th:switch="${passwordstatus}">
                <input name="token" th:value="${token}" hidden>
                <label for="password">Enter new password <span th:case="'fail_wrong_type'" style="color: crimson">(Length 8-20)</span></label>
                <input id="password" name="password" type="text" width="20">
                <label for="password_confirm">Confirm password <span th:case="'fail_mismatch'" style="color: crimson">(Passwords should be equal)</span></label>
                <input id="password_confirm" name="password_confirm" type="text" width="20">
                <button type="submit">Set password</button>
            </form>
        </th:block>
        <p th:if="${passwordstatus} eq 'ok_changed'">Password changed, <a th:href="@{/login}">login</a> to continue.</p>
    </th:block>
</th:block>
</body>
</html>