<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <meta content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no" name="viewport"/>
    <title th:replace="${title}">Заголовок</title>
    <!-- <meta name="_csrf" th:content="${_csrf.token}"/>
     <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <base href="/">
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-3.4.1.js"></script>
    <link href="/css/jquery-ui.css" rel="stylesheet">
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/mmenu.polyfills.js"></script>
    <script src="/js/mmenu.js"></script>
    <link href="/css/mmenu.css" rel="stylesheet">
    <script src="/js/my.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>

</body>
</html>