<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Adminka</title>
    <style>
        ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
        li { margin: 5px; padding: 5px; width: 300px; border: 1px solid gray; background: #f6f6f6;}
    </style>
</head>
<body>
<div id="sectionsandtopicsplain">
    <h4>Sections and subsections:</h4>
    <ul id="sections">
    </ul>
    <p>
        Query string: <span></span>
    </p>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="./admin.js"></script>
</body>
</html>