<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/commonfragment :: head (~{::title})">
    <title>test</title>
</head>
<body>
<div th:replace="fragments/main_menu :: main_menu"></div>

<div class="whiteblock"></div>
<div class="main_body">

    <div class="wrap">
        <a class="navicon" href="#menu-left"></a>
        <div class="forum" id="sectionsandtopicsplain">

            <form action="/test/search" method="GET">
                <input name="query" type="text"/>
                <select name="searchBy">
                    <option value="byTopics">По темам</option>
                    <option value="byComments">По сообщениям</option>
                </select>
                <button type="submit">Поиск</button>
            </form>
            <h4>Sections and topics example thymeleaf driven:</h4>
            <div class="forum_section">
                <th:block th:each="section : ${sectionsAndTopics}">
                    <h5 th:text="${section.getSection().getName()}"></h5>
                    <ul>
                        <li class="forum_topic" th:each="topic : ${section.getTopics()}"
                            th:text="${topic.getName()}"></li>
                    </ul>
                </th:block>
            </div>
        </div>
        <!--      <hr>
              <div id="sectionsandtopicsrest">
                  <h4>Sections and topics example ajax driven:</h4>
              </div>-->
    </div>

</div>

<div id="dialog-form" title="Ворота в сообщество">
    <p class="validateTips">Все поля нужно заполнить.</p>

    <form action="/login" id="login_form" method="post">
        <fieldset>
            <label for="username">e-mail</label>
            <input class="text ui-widget-content ui-corner-all" id="username" name="username" type="text"
                   value=""><br>
            <label for="password">пароль</label>
            <input class="text ui-widget-content ui-corner-all" id="password" name="password" type="password"
                   value="xxxxxxx">

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input style="position:absolute; top:-1000px" tabindex="-1" type="submit">
        </fieldset>
    </form>
</div>

<!--<script>
    $(document).ready(function () {
        getSectionsAndTopics();
    });

    function getSectionsAndTopics() {
        $.ajax({
            type: "GET",
            url: "/api/sectionsandactualtopics",
            contentType: "application/json; charset=utf-8",
            success: function (e) {
                console.log(e);
                drawSectionsAndTopics(e);
            },
            error: function (e) {
                console.log(e.responseText);
            }
        });
    }

    function drawSectionsAndTopics(e) {
        let holder = $('#sectionsandtopicsrest');
        for (let i = 0; i < e.length; i++) {
            holder.append('<h5>' + e[i].section.name + '</h5>');
            let list = $('<ul>');
            holder.append(list);
            for (let j = 0; j < e[i].topics.length; j++) {
                list.append('<li>' + e[i].topics[j].name + '</li>');
            }
        }
    }
</script>-->
</body>
</html>