<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script type="application/javascript" src="/js/invite.js"></script>
</head>
<body>

<div class="container-fluid">
    <ul class="nav navbar-right">
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</div>


<h1>User Profile</h1>

<b>User ID: </b><span  th:text="${session.user.id}"></span><br>
<b>First Name: </b><span  th:text="${session.user.firstName}"></span><br>
<b>Last Name: </b><span  th:text="${session.user.lastName}"></span><br>
<b>Email: </b><span  th:text="${session.user.email}"></span><br>
<b>Nickname: </b><span  th:text="${session.user.nickName}"></span><br>
<b>Role: </b><span th:text="${session.user.role.role}"></span><br>

<section th:if="${session.user.avatar}">
    <br><br>
    <img src="#" th:src="${'/img/' + session.user.getAvatar().medium}" alt="avatar-middle" width="256">
    <br><br>
    <a href="#" th:href="@{/test/deleteAvatar}"><button>Delete</button></a>
</section>
<section th:if="${message}">
    <h4  th:text="${message}"></h4>
</section>

<h4>Upload Avatar:</h4>
<form method="POST" th:action="@{/test/uploadAvatar}" enctype="multipart/form-data">
    <input type="file" name="file"/> <br/><br/>
    <button type="submit">Submit</button>
</form>
<button type="button" onclick="test()" th:if="${session.user.role.role!='ROLE_UNVERIFIED'}" class="btn btn-success">
    Invite
</button>
<fieldset id="fieldset" style="width:400px;height:40px">
    <legend>Invitation link:</legend>
    <p id="innerFieldText"></p>
</fieldset>
</body>
</html>