<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <script type="application/javascript" src="/js/invite.js"></script>
</head>
<body>
<form id="requestForm">
    <div class="form-group" align="'center'">
        <label for="email">email</label>
        <input type="text" name="email" class="form-control" id="email" placeholder="email"></input>
    </div>
    <div class="form-group" align="'center'">
        <label for="comment">About me</label>
        <input type="text" name="comment" class="form-control" id="comment" placeholder="about me"></input>
    </div>
    <div align="'center'">
        <button type="submit" class="btn btn-success"/>Send</button>
    </div>
    <input type="hidden"
           name="${_csrf.parameterName}"
           value="${_csrf.token}"/>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        let request = $("#requestForm");

        request.on('submit', sendUser);

        function sendUser(e) {
            e.preventDefault();
            var reqUserDto = {
                email : $("#email").val(),
                aboutMe : $("#comment").val()
            }
            $.ajax({
                type : "POST",
                contentType : "application/json",
                url : "/api/requestInvite/send",
                data : JSON.stringify(reqUserDto),
                dataType : 'json',
                success : function (e) {
                    window.location = "/";
                    console.log("Ok");
                },
                error : function (e) {
                    console.log(e);
                }
            });
        }
    });
</script>
</body>
</html>