<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Теcтовая страница системы комментирования</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-comment.css}"/>
    <!--    smile-->
    <link rel="stylesheet" type="text/css" th:href="@{/dist-smile/emojionearea.min.css}" media="screen">
</head>
<body>

<div style="width: 600px; max-height: 600px; margin: 0 auto;"> Topic
    <div th:insert="fragment/comment-field :: comment-field"></div>
</div>
<input type="hidden" id="isForbidden" name="isForbidden" th:value="${isForbidden}"/>

<script th:src="@{/js/comment.js}" type="text/javascript" th:inline="javascript"></script>
<!--smile-->
<script type="text/javascript" th:src="@{/dist-smile/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/dist-smile/emojionearea.js}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        if ($("#isForbidden").val()=="true") {
            $("#comment-footer_id").hide();
        }
        else {
            $("#comment-footer_id").show();
        }
        $("#body-comments").emojioneArea({
            pickerPosition: "bottom",
            filtersPosition: "bottom",
            tones: false,
            autocomplete: false,
            inline: true,
            hidePickerOnBlur: true,
            hideSource :  true
        });
    });
</script>
</body>
</html>