<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pageable</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div th:replace="fragments/header :: header"></div>
    <div>
        <h2 th:text="${topic.name}" >Topic</h2>
    </div>
    <div style="display: flex">
        <a th:each="i : ${#numbers.sequence(1, pageCount)}" th:href="@{'/test/topic/' + ${topic.id}(page=${i - 1})}"
           th:text="'page ' + ${i}" style="margin: 5px">page</a>
    </div>

    <div th:each="comment : ${commentList}" style="border: 1px solid black; border-radius: 5px" >
        <p th:text="${comment.user.nickName}"></p>
        <p th:text="${comment.dateTime}" style="color: blue"></p>
        <p th:text="${comment.commentText}"></p>
    </div>
</body>
</html>